/*Body*/
body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

form {
  width: 60%;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: slide-in 0.5s ease-out;
}
/*Animācijas*/
@keyframes slide-in {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

label {
  display: block;
  margin-bottom: 10px;
  color: #666;
  animation: fade-in 0.5s ease-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input[type="text"],
input[type="date"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  animation: slide-up 0.5s ease-out forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

button[type="button"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  animation: pulse 1s ease-in-out infinite;
}

button[type="button"]:hover {
  background-color: #3e8e41;
  animation: none;
}

table {
  width: 60%;
  margin: 30px auto;
  background-color: #fff;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: slide-in 0.5s ease-out;
}

th {
  background-color: #4CAF50;
  color: #fff;
  font-weight: bold;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}